import { $ } from 'utils'

class {{ sentenceCase componentNameInput }} {
  constructor () {
    this.props = {
      clickMacro: null,
      data: {}
    }
  }

  render () {
    return (
      <div>
      </div>
    )
  }
}

export default {{ sentenceCase componentNameInput }}
